go 1.25.0

use (
	./agent
	./api
	./backends/aca
	./backends/aws-common
	./backends/azure-common
	./backends/azure-functions
	./backends/gcp-common
	./backends/cloudrun
	./backends/cloudrun-functions
	./backends/core
	./backends/docker
	./backends/ecs
	./backends/lambda

	./bleephub
	./cmd/sockerless
	./cmd/sockerless-admin
	./gitlabhub
	./tests
)
