go 1.26.0

use (
	./agent
	./api
	./backends/aca
	./backends/aws-common
	./backends/azure-common
	./backends/azure-functions
	./backends/cloudrun
	./backends/cloudrun-functions
	./backends/core
	./backends/docker
	./backends/ecs
	./backends/gcp-common
	./backends/lambda

	./cmd/sockerless
	./cmd/sockerless-admin
	./github-runner-dispatcher-aws
	./github-runner-dispatcher-azure
	./github-runner-dispatcher-gcp
	./tests
	./tests/runners/gcp-cells
)
